<div class="flex container">
    <div class="w-1/4">
        <!-- tạm thời chỉ để trưng -->
    </div>
    <div class="w-1/2">
        <div>
            <div id="profile-background" class="relative h-58 w-full">
                <img class="h-full w-full" src="/img/mountain-bg.jpg" alt="">
                <div id="profile-avatar" class="absolute top-0 left-0 w-1/4 h-1/2">
                    <img src="/img/default-avatar.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="w-1/4">
        <!-- tạm thời chỉ để trưng -->
    </div>
</div>
