<nav class="flex justify-between items-center px-4 py-2">
    <a class="w-16 h-16 rounded-full overflow-hidden shadow-outline-black shadow-gray-400" href="">
        <img class="w-full" src="/img/logo.png" alt="Rury-community">
    </a>
    <ul class="flex">
        <li class="mx-2 text-xl px-4 py-2 font-semibold">
            <a href="/news">News</a>
        </li>
        <li class="mx-2 text-xl px-4 py-2 font-semibold">
            <a href="/blogs">Blogs</a>
        </li>
        <li class="mx-2 text-xl px-4 py-2 font-semibold">
            <a href="/account">Account</a>
        </li>
    </ul>
</nav>