<div class="bg-mountain px-32 py-20 flex justify-between bg-gray-900 text-slate-50">
    <div class="flex flex-col items-center">
        <div class="w-32 h-32 overflow-hidden rounded-full my-2">
            <img src="/img/logo.png" alt="">
        </div>
        <h1 class="text-2xl">Rury community</h1>
    </div>
    <div class="flex flex-col">
        <h1 class="text-2xl font-semibold">Liên hệ với chúng tôi</h1>
        <ul class="my-2">
            <li class="group cursor-pointer">
                <a class="group-hover:text-orange-500" href="">Facebook</a>
            </li>
            <li class="group cursor-pointer">
                <a class="group-hover:text-orange-500" href="">Zalo</a>
            </li>
            <li class="group cursor-pointer">
                <a class="group-hover:text-orange-500" href="">Discord</a>
            </li>
        </ul>
    </div>
</div>