<nav class="flex justify-between px-4 py-3 shadow-md bg-slate-900">
    <ul class="flex">
        <li class="text-slate-100 hover:bg-slate-100 hover:text-slate-800 px-6 rounded-md mx-2 flex items-center text-lg">
            <a href="/">Trang chủ</a>
        </li>
        <li class="text-slate-100 hover:bg-slate-100 hover:text-slate-800 px-6 rounded-md mx-2 flex items-center text-lg">
            <a href="/blog">Blogs</a>
        </li>
        <li class="text-slate-100 hover:bg-slate-100 hover:text-slate-800 px-6 rounded-md mx-2 flex items-center text-lg">
            <a href="/category">Thể loại</a>
        </li>
    </ul>
    <ul class="flex justify-between w-auto items-center">
        <li >
            <form class="bg-slate-700 shadow-sm focus-within:shadow-slate-700 rounded-md flex items-center" action="/search" method="GET">
                <input class="bg-transparent text-lg outline-none px-1 py-1" type="text" name="q" placeholder="Tìm kiếm">
                <span class="text-2xl px-4 before:content-[''] before:h-full before:border before:border-slate-900 before:mx-1">
                    <i class="bi bi-search"></i>
                </span>
            </form>
        </li>
        <li class="text-slate-100 hover:bg-cyan-950 hover:text-slate-200 px-6 py-2 rounded-md mx-2 flex items-center text-lg">
            <a href="/auth">Tài khoản</a>
        </li>
    </ul>
</nav>