<div class="flex container py-6 ">
    <div class="w-1/4">
        <!-- tạm thời chỉ để trưng -->
    </div>
    <div class="w-1/2">
        <!-- Bài viết -->
        <div id="wrapper-blog" class="shadow-outline-black shadow-slate-300 p-2 rounded-md my-6">
            <div class="flex justify-between items-center px-3">
                <div class="flex items-center mb-3">
                    <a class="w-14 h-14 overflow-hidden rounded-full" href="#">
                        <img class="w-full h-full" src="/img/logo.png" alt="">
                    </a>
                    <span class="mx-2 text-xl font-bold">hieurury</span>
                </div>
                <span class="text-gray-500 font-semibold">21 minutes ago</span>
            </div>
            <div>
                <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, ea! Maiores dolor magnam quia eius facere! Illum neque architecto repellendus magnam cupiditate earum porro sunt, ab ullam illo necessitatibus similique.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab officia porro perspiciatis obcaecati voluptatem quae saepe quasi sit, iste nisi perferendis dicta accusantium vitae deserunt. Quisquam voluptatibus nesciunt molestiae veritatis!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis in voluptatibus vitae expedita. Praesentium laborum officiis tenetur dolore culpa eaque? Saepe, iure! Sit incidunt temporibus voluptates blanditiis fugiat veniam! Omnis.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi, rem commodi consequatur provident, nihil libero maxime distinctio a quibusdam, neque porro? Eius libero ipsam fugiat. Quo dignissimos eos praesentium architecto!
                </p>
            </div>
            <div class="flex justify-between px-2 mt-4 pt-2 border-t border-slate-600">
                <span class="text-xl text-red-600 hover:cursor-pointer hover:opacity-80">
                    <i class="bi bi-heart-fill"></i>
                    <span>10k</span>
                </span>
                <span data-comment-id="10" id="commets-btn" class="text-xl text-blue-500 hover:cursor-pointer hover:opacity-80">
                    <span>100</span>
                    <i class="bi bi-chat-left-dots-fill"></i>
                </span>
            </div>

            <!-- khung bình luận -->
             <div id="10" class="hidden t-6 max-h-80 overflow-y-auto animate-show-comment custom-scrollbar">
                <ul>
                    <li class="flex flex-col my-3">
                        <div class="flex items-center">
                            <img class="w-8 h-8 rounded-full" src="/img/logo.png" alt="">
                            <span class="text-sm ml-1 font-semibold">hieurury</span>
                        </div>
                        <div>
                            <p class="text-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur, cum possimus? Sunt cum atque odio blanditiis harum ullam aliquam aspernatur eaque? Possimus architecto expedita mollitia at ipsam, soluta quod eaque?</p>
                        </div>
                    </li>

                    <li class="flex flex-col my-3">
                        <div class="flex items-center">
                            <img class="w-8 h-8 rounded-full" src="/img/logo.png" alt="">
                            <span class="text-sm ml-1 font-semibold">hieurury</span>
                        </div>
                        <div>
                            <p class="text-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur, cum possimus? Sunt cum atque odio blanditiis harum ullam aliquam aspernatur eaque? Possimus architecto expedita mollitia at ipsam, soluta quod eaque?</p>
                        </div>
                    </li>

                    <li class="flex flex-col my-3">
                        <div class="flex items-center">
                            <img class="w-8 h-8 rounded-full" src="/img/logo.png" alt="">
                            <span class="text-sm ml-1 font-semibold">hieurury</span>
                        </div>
                        <div>
                            <p class="text-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur, cum possimus? Sunt cum atque odio blanditiis harum ullam aliquam aspernatur eaque? Possimus architecto expedita mollitia at ipsam, soluta quod eaque?</p>
                        </div>
                    </li>

                    <li class="flex flex-col my-3">
                        <div class="flex items-center">
                            <img class="w-8 h-8 rounded-full" src="/img/logo.png" alt="">
                            <span class="text-sm ml-1 font-semibold">hieurury</span>
                        </div>
                        <div>
                            <p class="text-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur, cum possimus? Sunt cum atque odio blanditiis harum ullam aliquam aspernatur eaque? Possimus architecto expedita mollitia at ipsam, soluta quod eaque?</p>
                        </div>
                    </li>   
                </ul>
             </div>
        </div>
        <div id="wrapper-blog" class="shadow-outline-black shadow-slate-300 p-2 rounded-md my-6">
            <div class="flex justify-between items-center px-3">
                <div class="flex items-center mb-3">
                    <a class="w-14 h-14 overflow-hidden rounded-full" href="#">
                        <img class="w-full h-full" src="/img/logo.png" alt="">
                    </a>
                    <span class="mx-2 text-xl font-bold">hieurury</span>
                </div>
                <span class="text-gray-500 font-semibold">21 minutes ago</span>
            </div>
            <div>
                <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, ea! Maiores dolor magnam quia eius facere! Illum neque architecto repellendus magnam cupiditate earum porro sunt, ab ullam illo necessitatibus similique.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab officia porro perspiciatis obcaecati voluptatem quae saepe quasi sit, iste nisi perferendis dicta accusantium vitae deserunt. Quisquam voluptatibus nesciunt molestiae veritatis!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis in voluptatibus vitae expedita. Praesentium laborum officiis tenetur dolore culpa eaque? Saepe, iure! Sit incidunt temporibus voluptates blanditiis fugiat veniam! Omnis.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi, rem commodi consequatur provident, nihil libero maxime distinctio a quibusdam, neque porro? Eius libero ipsam fugiat. Quo dignissimos eos praesentium architecto!
                </p>
            </div>
            <div class="flex justify-between px-2 mt-4 pt-2 border-t border-slate-600">
                <span class="text-xl text-red-600 hover:cursor-pointer hover:opacity-80">
                    <i class="bi bi-heart-fill"></i>
                    <span>10k</span>
                </span>
                <span data-comment-id="100" id="commets-btn" class="text-xl text-blue-500 hover:cursor-pointer hover:opacity-80">
                    <span>100</span>
                    <i class="bi bi-chat-left-dots-fill"></i>
                </span>
            </div>

            <!-- khung bình luận -->
             <div id="100" class="hidden pt-6 max-h-80 overflow-y-auto animate-show-comment custom-scrollbar">
                <ul>
                    <li class="flex flex-col my-3">
                        <div class="flex items-center">
                            <img class="w-8 h-8 rounded-full" src="/img/logo.png" alt="">
                            <span class="text-sm ml-1 font-semibold">hieurury</span>
                        </div>
                        <div>
                            <p class="text-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur, cum possimus? Sunt cum atque odio blanditiis harum ullam aliquam aspernatur eaque? Possimus architecto expedita mollitia at ipsam, soluta quod eaque?</p>
                        </div>
                    </li>

                    <li class="flex flex-col my-3">
                        <div class="flex items-center">
                            <img class="w-8 h-8 rounded-full" src="/img/logo.png" alt="">
                            <span class="text-sm ml-1 font-semibold">hieurury</span>
                        </div>
                        <div>
                            <p class="text-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur, cum possimus? Sunt cum atque odio blanditiis harum ullam aliquam aspernatur eaque? Possimus architecto expedita mollitia at ipsam, soluta quod eaque?</p>
                        </div>
                    </li>

                    <li class="flex flex-col my-3">
                        <div class="flex items-center">
                            <img class="w-8 h-8 rounded-full" src="/img/logo.png" alt="">
                            <span class="text-sm ml-1 font-semibold">hieurury</span>
                        </div>
                        <div>
                            <p class="text-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur, cum possimus? Sunt cum atque odio blanditiis harum ullam aliquam aspernatur eaque? Possimus architecto expedita mollitia at ipsam, soluta quod eaque?</p>
                        </div>
                    </li>

                    <li class="flex flex-col my-3">
                        <div class="flex items-center">
                            <img class="w-8 h-8 rounded-full" src="/img/logo.png" alt="">
                            <span class="text-sm ml-1 font-semibold">hieurury</span>
                        </div>
                        <div>
                            <p class="text-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur, cum possimus? Sunt cum atque odio blanditiis harum ullam aliquam aspernatur eaque? Possimus architecto expedita mollitia at ipsam, soluta quod eaque?</p>
                        </div>
                    </li>   
                </ul>
             </div>
        </div>
    </div>
    <div class="w-1/4">
        <!-- tạm thời chỉ để trưng -->
    </div>
</div>

<script>
    //ẩn hiện khung bình luận
    const commentsBtns = document.querySelectorAll('#commets-btn');

    commentsBtns.forEach((btn, index) => {
        const commentId = btn.getAttribute('data-comment-id');
        const commentWrapper = document.getElementById(commentId);
        //toggle bình luận
        btn.addEventListener('click', () => {
            commentWrapper.style.display = commentWrapper.style.display === 'block' ? 'none' : 'block';
        });
    });
</script>